table{
    border-collapse: collapse;
    width: 100%;
    font-weight: bolder;
    border: 1px solid black;
    text-align: center;
}
 
tr,td{
    border: 1px solid black;
    text-align: center;
    font-weight: lighter;
}
thead{
    background-color: blanchedalmond;
} 